.player-audio {
  background: var(--color-bg-primary);
  padding: 1rem;
  border-radius: 5px;

  .player-audio-controls {
    display: flex;
    flex-wrap: wrap;

    .player-audio-button {
      border: none;
      background: var(--color-secondary);
      color: var(--color-white);
      padding: rem(8px) rem(4px) rem(6px) rem(4px);
      cursor: pointer;
      outline: none;
      border-radius: 5px;
    }

    .player-audio-time {
      margin: 0 rem(8px);
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }

    .player-audio-bar {
      user-select: none;
      width: 100%;
      margin-bottom: rem(8px);

      .player-audio-bar-progress {
        flex: 1;
        border-radius: 5px;
        height: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}