.container {
  min-height: 100vh;
  background-color: var(--color-bg-container);
  color: var(--color-text-primary);
  overflow: auto;

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(32px);
    grid-template-areas: 
      "article-top article-top article-top"
      "article-latest article-latest article-weekly"
    ;
    
    .grid-article-top {
      grid-area: article-top;
      margin-top: rem(32px);
    }

    .grid-article-weekly {
      grid-area: article-weekly;
    }

    .grid-article-latest {
      grid-area: article-latest;
    }
  }
}

@include responsive(tablet) {
  .container {
    .container-grid {
      grid-template-areas:
        "article-top article-top article-top"
        "article-weekly article-weekly article-weekly"
        "article-latest article-latest article-latest" 
      ;
    }
  }
}