.navbar-bottom {
  display: none;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: $navbar-bottom-height;
  background-color: var(--color-bg-primary);

  .navbar-bottom-measure {
    max-width: $max-width;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navbar-bottom-items {
      flex: 1 1 0;
      color: var(--color-text-primary);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &.active {
        color: var(--color-secondary);
        box-shadow: inset 0px -2px 0px 0px var(--color-secondary);
      }

      .navbar-bottom-item-text {
        margin-top: rem(2px);
        font-size: rem(12px);
      }
    }
  }
}

@include responsive(mobile) {
  .navbar-bottom {
    display: block;
  }
}