.navbar-category {
  height: $navbar-category-height;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  .navbar-category-measure {
    max-width: $max-width;
    margin:auto;
    overflow: auto;
    display: flex;

    .navbar-category-items {
      line-height: $navbar-category-height;
      padding: 0 $content-padding;
      flex-shrink: 0;
      min-width: 100px;
      text-align: center;
      border-left: 1px solid var(--color-secondary);
      border-right: 1px solid var(--color-secondary);
      color: var(--color-text-primary);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &.active {
        color: var(--color-secondary);
      }
    }

    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
      display: none;
    }
  }
}

@include responsive(mobile) {
  .navbar-category {
    height: $navbar-category-height-mobile;

    .navbar-category-measure {
      .navbar-category-items {
        line-height: $navbar-category-height-mobile;
        padding: 0 $content-padding-mobile;
      }
    }
  }
}

// Use this to ignore hover style on tocuh device
@media (hover: hover) and (pointer: fine) {
  .navbar-category {
    .navbar-category-measure {
      .navbar-category-items:hover {
        color: var(--color-secondary);
      }
    }
  }
}