.container {
  .navbar-category {
    height: $navbar-category-height;
    background-color: #D7DBDD;

    .navbar-category-measure {
      max-width: $max-width;
      margin:auto;
      overflow: auto;
      display: flex;

      .navbar-category-items {
        line-height: $navbar-category-height;
        height: $navbar-category-height;
        padding: 0 1rem;
        flex-shrink: 0;
        min-width: 100px;
        text-align: center;
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        &:hover, &.active {
          color: $color-primary;
        }
      }

      /* Hide scrollbar */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar { 
        display: none;
      }
    }
  }
}

.container.dark-mode {
  .navbar-category {
    background-color: #292929;
  }
}

@include responsive(mobile) {
  .container {
    .navbar-category {
      height: $navbar-category-height-mobile;
  
      .navbar-category-measure {
        .navbar-category-items {
          line-height: $navbar-category-height-mobile;
          height: $navbar-category-height-mobile;
          padding: 0 0.75rem;
        }
      }
    }
  }
}