.d-block {
  display: block!important;
}

.d-none {
  display: none!important;
}

@include responsive(tablet-big) {
  .d-block-tablet-big {
    display: block!important;
  }
  
  .d-none-tablet-big {
    display: none!important;
  }
}

@include responsive(tablet) {
  .d-block-tablet {
    display: block!important;
  }
  
  .d-none-tablet {
    display: none!important;
  }
}

@include responsive(mobile) {
  .d-block-mobile {
    display: block!important;
  }
  
  .d-none-mobile {
    display: none!important;
  }
}