/**
 * placeholder-loading v0.3.0
 * Author: Zalog (https://www.zalog.ro/)
 * License: MIT
 **/
 
@-webkit-keyframes phAnimation {
	0% {
		transform: translate3d(-30%, 0, 0);
	}

	to {
		transform: translate3d(30%, 0, 0);
	}
}

@keyframes phAnimation {
	0% {
		transform: translate3d(-30%, 0, 0);
	}

	to {
		transform: translate3d(30%, 0, 0);
	}
}

.ph-item {
	direction: ltr;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: rem(30px) rem(15px) rem(15px);
	overflow: hidden;
	margin-bottom: rem(30px);
	background-color: var(--color-bg-container);
	border: 2px solid var(--color-bg-primary);
	border-radius: 5px;
	box-sizing: border-box;

	&:before {
		box-sizing: border-box;
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		z-index: 1;
		width: 500%;
		margin-left: -250%;
		-webkit-animation: phAnimation 0.6s linear infinite;
		animation: phAnimation 0.6s linear infinite;
		background: var(--color-bg-placeholder-animation);
	}

	>* {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column;
		padding-right: rem(15px);
		padding-left: rem(15px);
	}
}

.ph-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: rem(7.5px);

	div {
		height: rem(10px);
		margin-bottom: rem(7.5px);
		background-color: var(--color-bg-primary);
	}

	.big {
		height: rem(22px);
		margin-bottom: rem(15px);
	}

	.empty {
		background-color: hsla(0, 0%, 100%, 0);
	}
}

.ph-row.big {
	div {
		height: rem(22px);
		margin-bottom: rem(15px);
	}
}

.ph-col-2 {
	flex: 0 0 16.66667%;
}

.ph-col-4 {
	flex: 0 0 33.33333%;
}

.ph-col-6 {
	flex: 0 0 50%;
}

.ph-col-8 {
	flex: 0 0 66.66667%;
}

.ph-col-10 {
	flex: 0 0 83.33333%;
}

.ph-col-12 {
	flex: 0 0 100%;
}

.ph-avatar {
	position: relative;
	width: 100%;
	min-width: 50px;
	background-color: var(--color-bg-primary);
	margin-bottom: rem(15px);
	border-radius: 50%;
	overflow: hidden;

	&:before {
		content: " ";
		display: block;
		padding-top: 100%;
	}
}

.ph-picture {
	width: 100%;
	height: rem(120px);
	background-color: var(--color-bg-primary);
	margin-bottom: rem(15px);

  &.small {
    height: rem(60px);
  }
}

@include responsive(mobile) {
  .ph-item {
    padding: rem(15px) rem(7.5px) rem(7.5px);
    margin-bottom: rem(15px);

    >* {
      padding-right: rem(7.5px);
      padding-left: rem(7.5px);
    }
  }

  .ph-row {
    margin-bottom: 0;
  }

  .ph-avatar, .ph-picture {
    margin-bottom: rem(7.5px);
  }
}