.revive-ads {
  text-align: center;
  height: 0;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &.full-width {
    img {
      width: 100%;
    }
  }
}