@font-face {
  font-family: 'Metropolis';
  src: url('/webfonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 100 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/webfonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 500 900;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

/*Italic Fonts*/
@font-face {
  font-family: 'Metropolis';
  src: url('/webfonts/Metropolis-RegularItalic.otf') format('opentype');
  font-weight: 100 400;
  font-stretch: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/webfonts/Metropolis-BoldItalic.otf') format('opentype');
  font-weight: 500 900;
  font-stretch: normal;
  font-style: italic;
  font-display: swap;
}