.article-list {
  overflow: auto;

  .article-list-items {
    margin-bottom: rem(16px);
    display: flex;

    .thumbnail {
      width: 30%;

      img {
        border: 2px solid $color-secondary!important;
        border-radius: 10px;
      }
    }

    .detail {
      width: 70%;
      padding-left: rem(16px);

      .title {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        color: var(--color-text-primary);
      }

      .title-sub {
        margin: 0.5rem 0;
        font-style: italic;
        font-size: rem(14px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        color: var(--color-text-secondary);
      }

      .author {
        font-size: rem(12px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .category {
          font-size: rem(12px);
          background-color: $color-secondary;
          color: var(--color-white);
          border-radius: 5px;
          padding: rem(4px) rem(4px) 0 rem(4px);
          margin-right: rem(8px);
        }

        img {
          border: 2px solid $color-secondary!important;
          border-radius: 50%;
        }

        .name {
          margin: 0 rem(8px);
        }
      }
    }
  }

  &.small {
    .article-list-items {
      .detail {
        .title {
          font-size: rem(16px);
          -webkit-line-clamp: 2;
        }
  
        .datetime {
          font-size: rem(12px);
          padding: rem(2px) 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include responsive(tablet) {
  .article-list {
    &.small {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      
      .article-list-items {
        padding-right: rem(8px);
        margin-bottom: 0;
        flex-shrink: 0;
        scroll-snap-align: start;
        width: 100%
      }
    }
  }
}

@include responsive(mobile) {
  .article-list {
    .article-list-items {
      .thumbnail {
        width: 35%;
      }

      .detail {
        width: 70%;

        .title {
          font-size: rem(16px);
          -webkit-line-clamp: 2;
        }

        .title-sub {
          display: none;
        }

        .author {
          .datetime {
            width: 100%;
            margin: rem(2px) 0;
          }
        }
      }
    }
  }
}