.article-layout {
  display: flex;
  flex-wrap: wrap;

  .article-layout-detail {
    display: flex;
    flex-wrap: wrap;
    width: 850px;

    .title {
      width: 100%;
      margin: 1rem 0;
    }

    .summary {
      width: 50%;
      padding-left: 1rem;
      color: #7B7D7D;

      .title-sub {
        margin: 0;
        font-style: italic;
      }

      .datetime {
        margin-left: 0.5rem;
      }

      .category {
        display: inline-block;
        font-size: 0.75rem;
        background-color: $color-secondary;
        color: $white;
        border-radius: 5px;
        padding: 0.25rem 0.25rem 0 0.25rem;
        margin-bottom: 0.5rem;
      }
    }

    .thumbnail {
      width: 50%;

      img {
        border: 2px solid $color-secondary!important;
        border-radius: 10px;
      }
    }

    .content {
      max-width: 650px;
      margin: auto;

      .image {
        text-align: center;
        margin: 1rem 0;

        .caption {
          font-size: 0.8rem;
          font-style: italic;
          color: #7B7D7D;
        }
      }
    }
  }

  .article-layout-side {
    flex-grow: 1;
    margin-left: 1rem;

    .related-article {
      position: sticky;
      top: calc(#{$navbar-height} + 1rem);
      padding: 1rem;
      margin: 1rem 0;
      border: 2px solid $color-secondary;
      border-radius: 10px;

      .title {
        margin: 0;
      }
    }
  }
}

.container.dark-mode {
  .article-layout {
    .article-layout-detail {
      .summary {
        color: #D0D3D4;
      }

      .content {
        .image {
          .caption {
            color: #D0D3D4;
          }
        }
      }
    }
  }
}


@include responsive(tablet-big) {
  .article-layout {
    .article-layout-detail {
      width: 650px;
    }
  }
}

@include responsive(tablet) {
  .article-layout {
    .article-layout-detail {
      width: 100%;
    }

    .article-layout-side {
      margin: 0;
      
      .related-article {
        position: unset;
      }
    }
  }
}

@include responsive(mobile) {
  .article-layout {
    .article-layout-detail {
      .title {
        font-size: 1.8rem;
      }

      .summary {
        width: 100%;
        padding: 0;

        .category {
          margin: 0.5rem 0;
        }
      }
  
      .thumbnail {
        width: 100%;
      }
    }
  }
}