.article-list {
  overflow: auto;

  .article-list-items {
    margin-bottom: 1rem;
    display: flex;

    .thumbnail {
      width: 30%;

      img {
        border: 2px solid $color-secondary!important;
        border-radius: 10px;
      }
    }

    .detail {
      width: 70%;
      padding-left: 1rem;

      .title {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }

      .title-sub {
        margin: 0.5rem 0;
        font-style: italic;
        font-size: rem(14px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        color: var(--color-text-secondary);
      }

      .author {
        font-size: rem(12px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .category {
          font-size: rem(12px);
          background-color: $color-secondary;
          color: var(--color-white);
          border-radius: 5px;
          padding: 0.25rem 0.25rem 0 0.25rem;
          margin-right: 0.5rem;
        }

        img {
          border: 2px solid $color-secondary!important;
          border-radius: 50%;
        }

        .name {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@include responsive(mobile) {
  .article-list {
    .article-list-items {
      .thumbnail {
        width: 35%;
      }

      .detail {
        width: 70%;

        .title {
          font-size: rem(16px);
        }

        .title-sub {
          display: none;
        }

        .author {
          .datetime {
            width: 100%;
            margin: rem(2px) 0;
          }
        }
      }
    }
  }
}