.article-layout {
  display: flex;
  flex-wrap: wrap;

  .article-layout-detail {
    display: flex;
    flex-wrap: wrap;
    width: 800px;

    .title {
      width: 100%;
      margin: 1rem 0;
    }

    .summary {
      width: 50%;
      padding-left: rem(16px);
      color: var(--color-text-secondary);

      .title-sub {
        font-size: rem(16px);
        font-style: italic;
      }

      .datetime {
        margin-left: rem(8px);
        font-size: rem(16px);
      }

      .category {
        display: inline-block;
        font-size: rem(16px);
        background-color: $color-secondary;
        color: var(--color-white);
        border-radius: 5px;
        padding: rem(4px) rem(4px) 0 rem(4px);
        margin-bottom: rem(8px);
      }
    }

    .thumbnail {
      width: 50%;

      img {
        border: 2px solid $color-secondary!important;
        border-radius: 10px;
      }
    }

    .content {
      max-width: 100%;
      width: 650px;
      margin: auto;

      .image {
        text-align: center;
        margin: 1rem 0;

        img {
          border-radius: 10px;
        }

        .caption {
          font-size: rem(12px);
          font-style: italic;
          color: var(--color-text-secondary);
        }
      }

      .blockquote {
        font-style: italic;
        margin: 0;

        p {
          margin: 0;
        }

        blockquote {
          background-image: url("/assets/quote-left-solid.svg"), url("/assets/quote-right-solid.svg");
          background-size: rem(40px);
          background-position: left top, right bottom;
          background-repeat: no-repeat;
          padding: rem(10px) rem(60px);
          margin: 0;
        }

        .caption {
          margin-top: rem(8px);
          font-size: rem(24px);
          text-align: right;

          &::before {
            content: '—';
            margin-right: rem(4px);
          }
        }
      }

      .embed {
        text-align: center;
        margin: 1rem 0;

        &.facebook_video {
          .fb_iframe_widget {
            max-width: 500px;
          }
        }

        &.facebook_video, &.facebook_post {
          .fb_iframe_widget {
            display: block;
            margin: auto;

            span {
              background: var(--color-white);
            }
          }
        }

        &.instagram {
          .instagram-media {
            margin: auto!important;
          }
        }

        &.twitter {
          .twitter-tweet {
            margin: auto!important;
          }
        }

        &.tiktok {
          .tiktok-embed {
            margin: auto!important;
          }
        }

        .caption {
          font-size: rem(12px);
          font-style: italic;
          color: var(--color-text-secondary);
        }
      }

      .code {
        overflow: auto;
        background: #001628;
        color: var(--color-white);
        line-height: rem(18px);
        padding: rem(8px) rem(12px);
      }

      mark {
        padding: rem(2px) rem(1px);
      }
    }
  }

  .article-layout-side {
    flex-grow: 1;
    margin-left: rem(16px);

    .related-article {
      position: sticky;
      top: calc(#{$navbar-height} + 1rem);
      padding: rem(16px);
      margin: 1rem 0;
      border: 2px solid $color-secondary;
      border-radius: 10px;

      .author {
        width: 100%;
        line-height: 50px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(8px);
  
        img {
          border: 2px solid $color-secondary!important;
          border-radius: 50%;
        }
  
        .name {
          padding: 0 rem(8px);
        }
      }

      .title {
        margin: 0;
      }
    }
  }
}

@include responsive(tablet-big) {
  .article-layout {
    .article-layout-detail {
      width: 650px;
    }
  }
}

@include responsive(tablet) {
  .article-layout {
    .article-layout-detail {
      width: 100%;
    }

    .article-layout-side {
      margin: 0;
      
      .related-article {
        position: unset;
      }
    }
  }
}

@include responsive(mobile) {
  .article-layout {
    .article-layout-detail {
      .title {
        font-size: rem(26px);
      }

      .summary {
        width: 100%;
        padding: 0;

        .category {
          margin: 0.5rem 0;
        }
      }
  
      .thumbnail {
        width: 100%;
      }

      .content {
        .blockquote {
          blockquote {
            background-image: url("/assets/quote-left-solid.svg");
            padding: rem(10px) 0 rem(10px) rem(60px);
          }
        }

        .embed {
          &.instagram {
            .instagram-media {
              max-width: calc(100% - #{$content-padding-mobile})!important;
            }
          }

          &.facebook_video, &.facebook_post {
            .fb_iframe_widget {
              span, iframe {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}