html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Metropolis', 'Hanuman';
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Forcing word break in firefox to break khmer word*/
@supports (-moz-appearance:none) {
  *, *::after, *::before {
    word-break: break-all;
  }
}

a {
  color: #3498DB;
  text-decoration: none;
}

p, ul, ol {
  font-size: rem(18px);
}