.menu {
  .menu-items {
    display: block;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: rem(16px) rem(32px);
    margin: rem(16px) 0;
    border-radius: 5px;
  }
}