$max-width: 1200px;

//Heights
$navbar-height: rem(60px);
$navbar-height-mobile: rem(50px);

$navbar-category-height: rem(45px);
$navbar-category-height-mobile: rem(35px);

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-black: #000000;
  --color-white: #FDFEFE;
  --color-text-primary: var(--color-black);
  --color-text-secondary: #7b7d7d;

  --bg-color-navbar: var(--color-primary);
  --bg-color-navbar-category: #D7DBDD;
  --bg-color-container: #FBFCFC;
}
